@import 'settings',
'mixins',
'normalize',
'button',
'callout',
'footer',
'forms',
'header',
'typography',
'visibility';

html {
  font-size: 62.5%;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  color: $body-font-color;
  font-family: $body-font-family;
  font-size: $global-font-size;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

.contentcontainer {
  position: relative;
}

.contentcontainer--advanced {
  width: 100% !important;
  max-width: 1200px;

  form,
  .form__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  $fieldset-width: 48%;

  fieldset {
    width: $fieldset-width;
    margin-bottom: 25px;

    fieldset {
      width: 100%;
    }
  }

  .fieldset__wrapper {
    width: $fieldset-width;

    fieldset {
      width: 100%;
    }
  }

  h3 {
    border-bottom: 1px solid #CCCCCC;
    color: #999999;
  }

  .form-group {
    max-width: unset !important;
    margin-bottom: 8px !important;

    label {
      display: flex;
      justify-content: space-between;
    }
  }

  table,
  th,
  td {
    border: 1px solid #CCCCCC;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      padding: 13px 20px 10px;
      text-align: left;
    }

    tbody {
      tr {
        td {
          padding: 5px 10px;
          color: #999999;

          &:last-child {
            color: #FF0000;
            font-weight: 600;
            text-align: center;
          }
        }
      }
    }
  }
}

.popup-container {
  background: $white;
  width: 336px;

  header img {
    max-width: 280px;

  }

  &--content {
    width: 334px;

    > div {
      border: 1px solid $medium-gray;
    }
  }

  &--options {
    width: 100% !important;
    max-width: 1200px;
    margin: 20px auto;
    border: 0 !important;

    .extension-container {
      width: 33.4rem;
      margin: 0 auto;
      border: 1px solid $medium-gray;
    }

    .extension-container--wide {
      width: 100%;
    }
  }
}

._loading_overlay_overlay {
  background: rgba(255, 255, 255, 0.7) !important;
}

header {
  background-color: $header-bg-color;
}

.padbox {
  padding: 28px;
  > *:last-child {
    margin-bottom: 0;
  }
  &--small {
    padding-bottom: 14px;
    padding-top: 14px;
  }
}

hr {
  border: 0;
  border-top: 1px solid $light-gray;
  height: 0;
  margin: 0;
}

.flag-wrapper {
  display: block;
    margin-left: 204px;
  margin-bottom: -5px;
  [type=radio] {
    opacity: 0;
    position: fixed;
    width: 0;
    height: 0;
  }
  [type=radio] + img {
    cursor: pointer;
    max-width: 30px;
    height: 20px;
      margin: 0 0 0 5px;
    opacity: 0.5;
    }
    [type=radio] + img:hover {
    opacity: 1;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
    opacity: 1;
      box-shadow: 0 0 3px 1px #ffffff;
    }
}

.accordian {
  padding: 0 10px 5px;
  border: 1px solid #CCCCCC;
  border-bottom: none;

  h4 {
    color: #666666
  }

  .accordian__label {
    display: block;
    padding-top: 15px;
    color: #666666
  }

  &:last-child {
    border-bottom: 1px solid #CCCCCC;
  }

  .accordian__checkbox {
    display: none;

    &:checked {
      + .accordian__label {
        + .accordian__content {
          max-height: 100%;
        }
      }
    }
  }

  .accordian__content {
    position: relative;
    overflow: hidden;
    max-height: 0;

    .form-group {
      width: 55%;
    }
  }
}

.link--advanced-settings,
.link--quick-settings {
  display: block;
  cursor: pointer;
  margin-bottom: 10px;
}

.link--advanced-settings {
  color: unset;
  text-align: right;
}

.link--quick-settings {
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
  opacity: .5;
}

.resizeFont {
  text-align: right;
  
  color: #000000;

  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2.2rem;
  }

  &--smallA {
    font-size: 1.4rem;
  }
  &--bigA {
    font-size: 2.2rem;
  }
}